body{
    margin: 0;
    padding: 0;
    margin-top: 0px;
    background-image: url(ContactImages/BG\ Contact.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.header{
    width: 92%;
    margin: auto;
    position: relative;
}

.nama{
    font-size: 50px;
    float: left;
    font-weight: bold;
}

.nama a{
    padding-right: 0px;
    font-family: 'Caveat', cursive;
    color: #5377F6;
    text-decoration: none;
}

.menu{
    float: right;
}

nav{
    top: 0;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 25px 0px 25px 0px;
    display: flex;
    line-height: 20px;
    background: #ffffff;
    border-radius: 35px;
    
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0px 40px 0px 40px;
}

nav ul li a:hover{
    color: #48bfe3;
    transition: 1 ease;
}

nav ul li{
    text-decoration: none;
}

#box{
    border-radius: 75px;
    margin: 8% 5% 15% 5%;
    padding: 0px 50px 0px 50px;
    height: 450px;
    width: 600px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
 
.contact{
    position: relative;
    border-radius: 35px;
    top: 0%;
    left: 0%;
    box-sizing: border-box;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.contact h1{
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    margin: 25px 0px 0px 0px;
    color: #7678ed;
    background-color: #eaeaea;
    border-radius: 25px;
    border-color: #7678ed;
}

table{
    display: flex;
    justify-content: center;
}

tr{
    align-items: center;
    margin: 20px 0px 50px 50px;
    padding: 20px 20px 0px 0px;
}

.st{
    margin-top: 20px;
    padding-top: 20px;
}

.info{
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    display: inline-block;

}

.sticker{
    position: relative;
    top: -150px;
    padding-bottom: 0px;
    float: right;
    margin-top: -272px;
}

.foot{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: black;
}

.fllw{
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 1.25rem;
    text-align: left;
    color: #ffffff
}

.image_foot{
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#footer{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    font-size: 1.25rem;
    text-align: right;
    color: #ffffff
}

.youtube,.instagram,.discord{
    padding-right: 2rem;
}

@media screen and (max-width: 1680px){
    #wrapper{
        display: block;
    }

    body{
        margin: 0px;
        padding: 0px;
    }
    
    .header{
        width: 90%;
        margin: auto;
        position: relative;
    }

    .nama{
        font-size: 40px;
        font-weight: bold;
    }
    
    .nama a{
        padding-right: 0px;
        font-family: 'Caveat', cursive;
        color: #5377F6;
        text-decoration: none;
    }
    
    .menu{
        float: right;
    }
    
    nav{
        top: 0;
        width: 85%;
        margin: auto;
        margin-top: 50px;
        padding: 25px 0px 25px 0px;
        display: flex;
        line-height: 20px;
        background: #ffffff;
        border-radius: 35px;
    }
    
    nav ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    
    nav ul li{
        float: left;
    }
    
    nav ul li a{
        color: black;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 0px 0px 0px 80px;
    }
    
    nav ul li a:hover{
        color: #48bfe3;
        transition: 1 ease;
    }
    
    nav ul li{
        text-decoration: none;
    }
    
    #box{
        border-radius: 75px;
        margin: 7% 5% 14% 5%;
        padding: 0px 50px 0px 50px;
        height: 450px;
        width: 600px;
        background: #ffffff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    }
     
    .contact{
        position: relative;
        border-radius: 35px;
        top: 0%;
        left: 0%;
        box-sizing: border-box;
        padding: 40px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    
    .contact h1{
        font-family: 'Poppins', sans-serif;
        padding: 10px 20px 10px 20px;
        font-size: 24px;
        margin: 25px 0px 0px 0px;
        color: #7678ed;
        background-color: #eaeaea;
        border-radius: 25px;
        border-color: #7678ed;
    }
    
    table{
        display: flex;
        justify-content: center;
    }
    
    tr{
        align-items: center;
        margin: 20px 0px 50px 50px;
        padding: 20px 20px 0px 0px;
    }
    
    .st{
        margin-top: 20px;
        padding-top: 20px;
    }
    
    .info{
        color:black;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        margin: 0px 0px 0px 0px;
        display: inline-block;
    
    }
    
    .sticker{
        position: relative;
        top: -140px;
        padding-bottom: 0px;
        float: right;
        margin-top: -372px;
    }    
    
    .foot{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        background-color: black;
    }
    
    .fllw{
        padding-top: 1rem;
        padding-left: 2rem;
        font-size: 1.25rem;
        text-align: left;
        color: #ffffff
    }
    
    .image_foot{
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    #footer{
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        font-size: 1.25rem;
        text-align: right;
        color: #ffffff
    }
    
    .youtube,.instagram,.discord{
        padding-right: 2rem;
    }
}

@media screen and (max-width: 1080px){
    #wrapper{
        display: block;
    }

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: #ffffff;
        background-image: url(AboutImages/BG\ About.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .header{
        width: 80%;
        margin: auto;
        position: relative;
    }

    .nama{
        font-size: 40px;
        font-weight: bold;
    }
    
    .nama a{
        padding-right: 0px;
        font-family: 'Caveat', cursive;
        color: #5377F6;
        text-decoration: none;
    }
    
    .menu{
        float: right;
    }
    
    nav{
        top: 0;
        width: 80%;
        margin: auto;
        margin-top: 50px;
        padding: 25px 0px 25px 0px;
        display: flex;
        line-height: 20px;
        background: #ffffff;
        border-radius: 35px;
    }
    
    nav ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    
    nav ul li{
        float: left;
    }
    
    nav ul li a{
        color: black;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 0px 0px 0px 80px;
    }
    
    nav ul li a:hover{
        color: #48bfe3;
        transition: 1 ease;
    }
    
    nav ul li{
        text-decoration: none;
    }
    
    h1{
        margin-bottom: 0px;
        text-decoration:  3px #ffffff;
    }
    
    .About{
        float: left;
        padding: 0px 0px 0px 75px;
        margin: 50px 0px 50px 120px;
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: Bold;
        color: #48bfe3;
        text-decoration: underline 8px #5377F6;
    }
    
    .para{
        float: left;
        margin: 0px 50px 0px 225px;
        padding: 0px 200px 0px 40px;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        font-size: 22px;
        text-align: justify;
        color: #ffffff;
    }
    
    .sticker{
        margin-top: 100px;
        margin-right: 170px;
    }
    
    .foot{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: 385px;
        background-color: black;
    }
    
    .fllw{
        padding-top: 1rem;
        padding-left: 2rem;
        font-size: 1.25rem;
        text-align: left;
        color: #ffffff
    }
    
    .image_foot{
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    #footer{
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        font-size: 1.25rem;
        text-align: right;
        color: #ffffff
    }
    
    .youtube,.instagram,.discord{
        padding-right: 2rem;
    }
}

@media screen and (max-width: 768px){
    #wrapper{
        display: block;
    }

    body{
        margin: 0;
        padding: 0;
        margin-top: 0px;
        background-image: url(ContactImages/BG\ Contact.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .header{
        width: 90%;
        margin: 5 auto;
        position: relative;
    }

    .nama{
        font-size: 40px;
        font-weight: bold;
    }
    
    .nama a{
        padding-right: 0px;
        font-family: 'Caveat', cursive;
        color: #5377F6;
        text-decoration: none;
    }
    
    .menu{
        float: right;
    }
    
    nav{
        top: 0;
        width: 75%;
        margin: auto;
        margin-top: 50px;
        padding: 25px 25px 25px 25px;
        display: flex;
        line-height: 20px;
        background: #ffffff;
        border-radius: 35px;
    }
    
    nav ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    
    nav ul li{
        float: left;
    }
    
    nav ul li a{
        color: black;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 0px 30px 0px 0px;
    }
    
    nav ul li a:hover{
        color: #48bfe3;
        transition: 1 ease;
    }
    
    nav ul li{
        text-decoration: none;
    }
    
    #box{
        border-radius: 75px;
        margin: 7% 5% 14% 5%;
        padding: 0px 50px 0px 50px;
        height: 400px;
        width: 500px;
        background: #ffffff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    }
     
    .contact{
        position: relative;
        border-radius: 35px;
        top: 0%;
        left: 0%;
        box-sizing: border-box;
        padding: 20px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    
    .contact h1{
        font-family: 'Poppins', sans-serif;
        padding: 10px 20px 10px 20px;
        font-size: 22px;
        margin: 25px 0px 0px 0px;
        color: #7678ed;
        background-color: #eaeaea;
        border-radius: 25px;
        border-color: #7678ed;
    }
    
    table{
        display: flex;
        justify-content: center;
    }
    
    tr{
        align-items: center;
        margin: 20px 0px 50px 50px;
        padding: 20px 20px 0px 0px;
    }
    
    .st{
        margin-top: 20px;
        padding-top: 20px;
    }
    
    .info{
        color:black;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin: 0px 0px 0px 0px;
        display: inline-block;
    
    }
    
    .sticker{
        display: flex;
        position: relative;
        top: -100px;
        margin-bottom: 0px;
        float: right;
        margin-top: 50px;
    }    
    
    .foot{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: 375px;
        background-color: black;
    }
    
    .fllw{
        padding-top: 1rem;
        padding-left: 2rem;
        font-size: 1.25rem;
        text-align: left;
        color: #ffffff
    }
    
    .image_foot{
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    #footer{
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        font-size: 1.25rem;
        text-align: right;
        color: #ffffff
    }
    
    .youtube,.instagram,.discord{
        padding-right: 2rem;
    }
}

@media screen and (max-width: 576px){
    #wrapper{
        display: block;
    }

    body{
        margin: 0px;
        padding: 0px;
        margin-top: 0px;
        background-image: url(ContactImages/BG\ Contact.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .header{
        width: 90%;
        margin: 2 auto;
        position: relative;
    }

    .nama{
        font-size: 36px;
        font-weight: bold;
    }
    
    .nama a{
        padding-right: 0px;
        font-family: 'Caveat', cursive;
        color: #5377F6;
        text-decoration: none;
    }
    
    .menu{
        float: right;
    }
    
    nav{
        top: 0;
        width: 85%;
        margin: auto;
        margin-top: 50px;
        padding: 15px 15px 15px 15px;
        display: flex;
        line-height: 20px;
        background: #ffffff;
        border-radius: 35px;
    }
    
    nav ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    
    nav ul li{
        float: left;
    }
    
    nav ul li a{
        color: black;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 0px 15px 0px 0px;
    }
    
    nav ul li a:hover{
        color: #48bfe3;
        transition: 1 ease;
    }
    
    nav ul li{
        text-decoration: none;
    }
    
    h1{
        margin-bottom: 0px;
        text-decoration:  3px #ffffff;
    }
    
    #box{
        border-radius: 75px;
        margin: 10% 0% 10% 0%;
        padding: 0px 0px 0px 0px;
        height: 400px;
        width: 500px;
        background: #ffffff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    }
     
    .contact{
        position: relative;
        border-radius: 35px;
        top: 0%;
        left: 0%;
        box-sizing: border-box;
        padding: 20px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    
    .contact h1{
        font-family: 'Poppins', sans-serif;
        padding: 10px 30px 10px 30px;
        font-size: 18px;
        margin: 10px 50px 0px 50px;
        color: #7678ed;
        background-color: #eaeaea;
        border-radius: 25px;
        border-color: #7678ed;
    }
    
    table{
        display: flex;
        justify-content: center;
    }
    
    tr{
        align-items: center;
        margin: 20px 0px 50px 50px;
        padding: 20px 20px 0px 0px;
    }
    
    .st{
        margin-top: 20px;
        padding-top: 20px;
    }
    
    .info{
        color:black;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin: 0px 0px 0px 0px;
        display: inline-block;
    
    }
    
    .sticker{
        margin-top: 100px;
        float: left;
    }

    .foot{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        bottom: -520px;
        background-color: black;
    }
    
    .fllw{
        padding-top: 1rem;
        padding-left: 2rem;
        font-size: 1.25rem;
        text-align: left;
        color: #ffffff
    }
    
    .image_foot{
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    #footer{
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        font-size: 1.25rem;
        text-align: right;
        color: #ffffff
    }
    
    .youtube,.instagram,.discord{
        padding-right: 2rem;
    }
}