body{
    margin: 0px;
    padding: 0px;
    background-image: url(EventImages/BG\ Event\ 1.png);
    background-size: cover;
    background-repeat:repeat-y;
    background-position-y: bottom;
}

.header{
    width: 92%;
    margin: auto;
}

.nama{
    font-size: 50px;
    float: left;
    font-weight: bold;
}

.nama a{
    padding-right: 0px;
    font-family: 'Caveat', cursive;
    color: #5377F6;
    text-decoration: none;
}

.menu{
    float: right;
}

nav{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 25px 0px 25px 0px;
    display: flex;
    line-height: 20px;
    background: #fff;
    border-radius: 35px;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0px 40px 0px 40px;
}

nav ul li a:hover{
    color: #48bfe3;
    transition: 1 ease;
}

nav ul li{
    text-decoration: none;
}

#list-head{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 125px 0px 150px 0px;
    color: #48bfe3;
    text-decoration: underline 7px #4361ee;
}

.editcar{
    width: 1100px;
    margin: 800px 0px 100px 0px;
    color: black;
}

.col{
    color: #ffffff;
}

#col1{
    float: left;
    margin: 0px 0px 0px 490px;
}

#col2{
    float: right;
    margin: 0px 490px 0px 0px;
}

h3#perusahaan1, h3#perusahaan2{
    font-size: 34px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 50px 0px;
    color: #34A73C;
    background-color: #ffffff;
    border-radius: 25px;
}

h4#event-now1, h4#event-now2{
    margin: 0px 0px 25px 0px;
    text-align: center;
    color: #55ca5d;
}

p#detail1, p#detail2{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 50px 0px;
    text-align: justify left;
}

#btncolor{
    border: 3px solid #48bfe3;
    background-color: #48bfe3;
}

#form-head{
    margin: 150px 0px 50px 0px;
    color: #48bfe3;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.register{
    margin: 0px 610px 200px 610px;
}

#name, #email, #phonenumber, #options{
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #48bfe3;
}

#options-value-gojek, #options-value-tokopedia{
    color: black;
}

#error_msg1, #error_msg2, #error_msg3{
    color: rgb(213, 55, 55);
    font-size: 1rem;
}

#Submit{
    margin: 10px 0px 10px 0px;
    background-color: #48bfe3;
}

.sticker{
    display: flex;
    justify-content: center;
    margin: -100px 0px -200px 900px;
}

.stickerr{
    display: flex;
    justify-content: center;
    margin: -350px 1000px 0px -300px;
}

.foot{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    background-color: black;
    width: 100%;
}

.fllw{
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 1.25rem;
    text-align: left;
    color: #ffffff
}

.image_foot{
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#footer{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    font-size: 1.25rem;
    text-align: right;
    color: #ffffff
}

.youtube,.instagram,.discord{
    padding-right: 2rem;
}

@media screen and (max-width: 1680px){
    #wrapper{
        display: block;
    }

    body{
        margin: 0px;
        padding: 0px;
    }
    
    .header{
        width: 90%;
        margin: auto;
        position: relative;
    }

    .nama{
        font-size: 40px;
        font-weight: bold;
    }
    
    .nama a{
        padding-right: 0px;
        font-family: 'Caveat', cursive;
        color: #5377F6;
        text-decoration: none;
    }
    
    .menu{
        float: right;
    }
    
    nav{
        top: 0;
        width: 85%;
        margin: auto;
        margin-top: 50px;
        padding: 25px 0px 25px 0px;
        display: flex;
        line-height: 20px;
        background: #ffffff;
        border-radius: 35px;
    }
    
    nav ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    
    nav ul li{
        float: left;
    }
    
    nav ul li a{
        color: black;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 0px 0px 0px 80px;
    }
    
    nav ul li a:hover{
        color: #48bfe3;
        transition: 1 ease;
    }
    
    nav ul li{
        text-decoration: none;
    }
    
    #list-head{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        margin: 125px 0px 125px 0px;
        color: #48bfe3;
        text-decoration: underline 7px #4361ee;
    }
    
    .editcar{
        width: 1100px;
        margin: 800px 0px 0px 0px;
        color: black;
    }
    
    .col{
        color: #ffffff;
    }
    
    #col1{
        float: left;
        margin: 0px 0px 0px 200px;
    }
    
    #col2{
        float: right;
        margin: 0px 200px 0px 0px;
    }
    
    h3#perusahaan1, h3#perusahaan2{
        font-size: 34px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 10px 10px 10px 10px;
        margin: 0px 0px 50px 0px;
        color: #34A73C;
        background-color: #ffffff;
        border-radius: 25px;
    }
    
    h4#event-now1, h4#event-now2{
        margin: 0px 0px 25px 0px;
        text-align: center;
        color: #55ca5d;
    }
    
    p#detail1, p#detail2{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        padding: 0px 0px 50px 0px;
        text-align: justify left;
    }
    
    #btncolor{
        border: 3px solid #48bfe3;
        background-color: #48bfe3;
    }
    
    #form-head{
        margin: 150px 0px 50px 0px;
        color: #48bfe3;
        font-size: 28px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    
    .register{
        margin: 0px 500px 200px 500px;
    }
    
    #name, #email, #phonenumber, #options{
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #48bfe3;
    }
    
    #options-value-gojek, #options-value-tokopedia{
        color: black;
    }
    
    #error_msg1, #error_msg2, #error_msg3{
        color: rgb(213, 55, 55);
        font-size: 1rem;
    }
    
    #Submit{
        margin: 10px 0px 10px 0px;
        background-color: #48bfe3;
    }
    
    .sticker{
        display: flex;
        justify-content: center;
        top: 100px;
    }
    
    .stickerr{
        display: flex;
        justify-content: center;
        top: 100px;
    }
    
    .foot{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        background-color: black;
    }
    
    .fllw{
        padding-top: 1rem;
        padding-left: 2rem;
        font-size: 1.25rem;
        text-align: left;
        color: #ffffff
    }
    
    .image_foot{
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    #footer{
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        font-size: 1.25rem;
        text-align: right;
        color: #ffffff
    }
    
    .youtube,.instagram,.discord{
        padding-right: 2rem;
    }
}

@media screen and (max-width: 1080px){
    #wrapper{
        display: block;
    }

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: #ffffff;
        background-image: url(AboutImages/BG\ About.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .header{
        width: 80%;
        margin: auto;
        position: relative;
    }

    .nama{
        font-size: 40px;
        font-weight: bold;
    }
    
    .nama a{
        padding-right: 0px;
        font-family: 'Caveat', cursive;
        color: #5377F6;
        text-decoration: none;
    }
    
    .menu{
        float: right;
    }
    
    nav{
        top: 0;
        width: 80%;
        margin: auto;
        margin-top: 50px;
        padding: 25px 0px 25px 0px;
        display: flex;
        line-height: 20px;
        background: #ffffff;
        border-radius: 35px;
    }
    
    nav ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    
    nav ul li{
        float: left;
    }
    
    nav ul li a{
        color: black;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 0px 0px 0px 80px;
    }
    
    nav ul li a:hover{
        color: #48bfe3;
        transition: 1 ease;
    }
    
    nav ul li{
        text-decoration: none;
    }
    
    #list-head{
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        margin: 125px 0px 125px 0px;
        color: #48bfe3;
        text-decoration: underline 7px #4361ee;
    }
    
    .editcar{
        width: 900px;
        margin: 800px 0px 0px 0px;
        color: black;
    }
    
    .col{
        color: #ffffff;
    }
    
    #col1{
        float: left;
        margin: 0px 0px 0px 150px;
    }
    
    #col2{
        float: right;
        margin: 0px 100px 0px 0px;
    }
    
    h3#perusahaan1, h3#perusahaan2{
        font-size: 34px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 10px 10px 10px 10px;
        margin: 0px 0px 50px 0px;
        color: #34A73C;
        background-color: #ffffff;
        border-radius: 25px;
    }
    
    h4#event-now1, h4#event-now2{
        margin: 0px 0px 25px 0px;
        text-align: center;
        color: #55ca5d;
    }
    
    p#detail1, p#detail2{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        padding: 0px 0px 50px 0px;
        text-align: justify left;
    }
    
    #btncolor{
        border: 3px solid #48bfe3;
        background-color: #48bfe3;
    }
    
    #form-head{
        margin: 100px 0px 50px 0px;
        color: #48bfe3;
        font-size: 32px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    
    .register{
        margin: 0px 300px 200px 300px;
    }
    
    #name, #email, #phonenumber, #options{
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #48bfe3;
    }
    
    #options-value-gojek, #options-value-tokopedia{
        color: black;
    }
    
    #error_msg1, #error_msg2, #error_msg3{
        color: rgb(213, 55, 55);
        font-size: 1rem;
    }
    
    #Submit{
        margin: 10px 0px 10px 0px;
        background-color: #48bfe3;
    }
    
    .sticker{
        position: relative;;
        left: -400px;
        margin-bottom: -475px;
    }
    
    .stickerr{
        position: relative;
        margin-bottom: 255px;
        right: -200px;
    }
    
    .foot{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: -160px;
        margin-bottom: 0px;
        background-color: black;
    }
    
    .fllw{
        padding-top: 1rem;
        padding-left: 2rem;
        font-size: 1.25rem;
        text-align: left;
        color: #ffffff
    }
    
    .image_foot{
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    #footer{
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        font-size: 1.25rem;
        text-align: right;
        color: #ffffff
    }
    
    .youtube,.instagram,.discord{
        padding-right: 2rem;
    }
}

@media screen and (max-width: 768px){
    #wrapper{
        display: block;
    }

    body{
        margin: 0;
        padding: 0;
        margin-top: 0px;
        background-image: url(ContactImages/BG\ Contact.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .header{
        width: 90%;
        margin: 5 auto;
        position: relative;
    }

    .nama{
        font-size: 40px;
        font-weight: bold;
    }
    
    .nama a{
        padding-right: 0px;
        font-family: 'Caveat', cursive;
        color: #5377F6;
        text-decoration: none;
    }
    
    .menu{
        float: right;
    }
    
    nav{
        top: 0;
        width: 75%;
        margin: auto;
        margin-top: 50px;
        padding: 25px 15px 25px 15px;
        display: flex;
        line-height: 20px;
        background: #ffffff;
        border-radius: 35px;
    }
    
    nav ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    
    nav ul li{
        float: left;
    }
    
    nav ul li a{
        color: black;
        font-size: 13px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 0px 20px 0px 0px;
    }
    
    nav ul li a:hover{
        color: #48bfe3;
        transition: 1 ease;
    }
    
    nav ul li{
        text-decoration: none;
    }
    
    #list-head{
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        margin: 125px 0px 125px 0px;
        color: #48bfe3;
        text-decoration: underline 7px #4361ee;
    }
    
    .editcar{
        width: 100%;
        margin: 800px 0px 0px 0px;
        color: black;
    }

    .col{
        color: #ffffff;
    }
    
    #col1{
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    #col2{
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }
    
    h3#perusahaan1, h3#perusahaan2{
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        padding: 10px 10px 10px 0px;
        margin: 0px 0px 25px 0px;
        color: #34A73C;
        background-color: #ffffff;
        border-radius: 25px;
    }
    
    h4#event-now1, h4#event-now2{
        margin: 0px 0px 25px 0px;
        text-align: center;
        color: #55ca5d;
    }
    
    p#detail1, p#detail2{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        padding: 0px 0px 50px 0px;
        text-align: justify left;
    }
    
    #btncolor{
        border: 3px solid #48bfe3;
        background-color: #48bfe3;
    }
    
    #form-head{
        margin: 100px 0px 50px 0px;
        color: #48bfe3;
        font-size: 32px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    
    .register{
        margin: 200px 150px 100px 150px;
    }
    
    #name, #email, #phonenumber, #options{
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #48bfe3;
    }
    
    #options-value-gojek, #options-value-tokopedia{
        color: black;
    }
    
    #error_msg1, #error_msg2, #error_msg3{
        color: rgb(213, 55, 55);
        font-size: 1rem;
    }
    
    #Submit{
        margin: 10px 0px 10px 0px;
        background-color: #48bfe3;
    }
    
    .sticker{
        position: relative;;
        left: -650px;
        margin-bottom: -630px;
    }
    
    .stickerr{
        position: relative;
        right: 800px;
    }
    
    .foot{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        background-color: black;
    }
    
    .fllw{
        padding-top: 1rem;
        padding-left: 2rem;
        font-size: 1.25rem;
        text-align: left;
        color: #ffffff
    }
    
    .image_foot{
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    #footer{
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        font-size: 1.25rem;
        text-align: right;
        color: #ffffff
    }
    
    .youtube,.instagram,.discord{
        padding-right: 2rem;
    }
}

@media screen and (max-width: 576px){
    #wrapper{
        display: block;
    }

    body{
        margin: 0px;
        padding: 0px;
        margin-top: 0px;
        background-image: url(ContactImages/BG\ Contact.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .header{
        width: 100%;
        margin: 2 auto;
        position: relative;
    }

    .nama{
        font-size: 36px;
        font-weight: bold;
    }
    
    .nama a{
        padding-right: 0px;
        font-family: 'Caveat', cursive;
        color: #5377F6;
        text-decoration: none;
    }
    
    .menu{
        float: right;
    }
    
    nav{
        top: 0;
        width: 85%;
        margin: auto;
        margin-top: 50px;
        padding: 15px 15px 15px 15px;
        display: flex;
        line-height: 20px;
        background: #ffffff;
        border-radius: 35px;
    }
    
    nav ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    
    nav ul li{
        float: left;
    }
    
    nav ul li a{
        color: black;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 0px 15px 0px 0px;
    }
    
    nav ul li a:hover{
        color: #48bfe3;
        transition: 1 ease;
    }
    
    nav ul li{
        text-decoration: none;
    }
    
    h1{
        margin-bottom: 0px;
        text-decoration:  3px #ffffff;
    }
    
    #list-head{
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        margin: 125px 0px 125px 0px;
        color: #48bfe3;
        text-decoration: underline 7px #4361ee;
    }
    
    .editcar{
        width: 100%;
        margin: 800px 0px 0px 0px;
        color: black;
    }

    .col{
        color: #ffffff;
    }
    
    #col1{
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-bottom: 10px;
        padding-right: 250px;
    }
    
    #col2{
        display: flex;
        justify-content: center;
        margin-right: 10px;
        padding-left: 250px;
    }
    
    h3#perusahaan1, h3#perusahaan2{
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        padding: 10px 10px 10px 0px;
        margin: 0px 0px 25px 0px;
        color: #34A73C;
        background-color: #ffffff;
        border-radius: 25px;
    }
    
    h4#event-now1, h4#event-now2{
        margin: 0px 0px 25px 0px;
        text-align: center;
        color: #55ca5d;
    }
    
    p#detail1, p#detail2{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        padding: 0px 0px 50px 0px;
        text-align: justify left;
    }
    
    #btncolor{
        border: 3px solid #48bfe3;
        background-color: #48bfe3;
    }
    
    #form-head{
        margin: 100px 0px 50px 0px;
        color: #48bfe3;
        font-size: 32px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    
    .register{
        margin: 200px 100px 100px 100px;
    }
    
    #name, #email, #phonenumber, #options{
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #48bfe3;
    }
    
    #options-value-gojek, #options-value-tokopedia{
        color: black;
    }
    
    #error_msg1, #error_msg2, #error_msg3{
        color: rgb(213, 55, 55);
        font-size: 1rem;
    }
    
    #Submit{
        margin: 10px 0px 10px 0px;
        background-color: #48bfe3;
    }
    
    .sticker{
        position: relative;;
        left: -700px;
        margin-bottom: -630px;
    }
    
    .stickerr{
        position: relative;
        right: 800px;
    }

    .foot{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        bottom: -2050px;
        background-color: black;
    }
    
    .fllw{
        padding-top: 1rem;
        padding-left: 2rem;
        font-size: 1.25rem;
        text-align: left;
        color: #ffffff
    }
    
    .image_foot{
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    #footer{
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        font-size: 1.25rem;
        text-align: right;
        color: #ffffff
    }
    
    .youtube,.instagram,.discord{
        padding-right: 2rem;
    }
}